.treeList
  width 250px
  height 100%
  text-align left
  overflow hidden
  transition width .2s
  z-index 999
  ul
    li
      width 100%
      .tit
        height 64px
        line-height 64px
        cursor pointer
      .tit_icon
        margin-right 12px
        font-size 24px
    &.bg
      li
        .tit
          padding-left 22px
          padding-right 12px
          position relative
          transition color 0.5s
        .txt, .arrow
          transition opacity .2s
        .txt
          display inline-block
        .arrow
          width 12px
        .mn
          .tit
            &:hover
              background-color #3c4a57
              color #d6d9dc
            padding-left 44px
            &:before
              top 0
              left 0
              bottom 0
              width 5px
              //background-color #42b983
              content ''
              position absolute
              display block
              visibility hidden
            &.active
              background-color #384657
              color #ffffff
              &:before
                visibility visible

  &.small
    width 65px
    overflow visible
    li
      .tit
        display block
        position relative
        text-align center
        &:before
          top 0
          left 0
          bottom 0
          width 5px
          content ''
          position absolute
          display block
          visibility hidden
        &.active
          &:before
            visibility visible
        .mn
          position absolute
          left 50px
          top 0
          width 180px
          text-align left
          display none
          ul
            li.tit
              padding-left 20px
              text-align left
              box-sizing border-box
        &:hover
          .mn
            display block
