homeTheme(table_bg_color = #ffffff, table_hd_text_color = #ffffff)
  .kalix-search
    .kalix-search-hd
      background-color table_bg_color
      color table_hd_text_color
  .kalix-wrapper
    .kalix-wrapper-hd
      background-color table_bg_color
      color table_hd_text_color
  .treeList
    ul
      &.bg
        li
          .mn
            .tit
              &:before
                background-color table_bg_color
  .el-button--primary
    background-color table_bg_color
    border-color table_bg_color
    color table_hd_text_color
  .el-switch
    &.is-checked
      .el-switch__core
        border-color table_bg_color
        background-color table_bg_color
  .el-pager
    li
      &.active
        border-color table_bg_color
        background-color table_bg_color
