.im
  position relative
  width 100%
  height 100%
  background url("./images/0.jpg") 50% 50% no-repeat
  background-size cover
  .im-wrapper
    width 1000px
    margin 0 auto
    height 100%
    .main_container
      width 280px
      height 100%
      float left
    .chat_wrapper
      position relative
      width 700px
      height 100%
      float left
      margin-left 20px
    .main-panel
      position: relative;
      display: block !important;
      width: 280px;
      background: #fff;
      border-radius: 7px;
      -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .7);
      -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, .7);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .7);
      height: 80%;
      top: 12%;
      transition: none !important;
      transform: none !important;
    .chat-panel
      width: 100%;
      height: 80%;
      top: 12%;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  &.black header,
  &.black footer
    background: #333;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
    background: -webkit-linear-gradient(#555, #222);
    background: -moz-linear-gradient(#555, #222);
    background: -ms-linear-gradient(#555, #222);
    background: -o-linear-gradient(#555, #222);
    background: linear-gradient(#555, #222);

  .panel_body_container
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    top: 0;
  .panel
    position absolute
    display none
    width 100%
    height 100%
    top 0
    left 0
    &.selected
      display block
    header
      display: flex;
      box-orient: horizontal;
      height: 45px;
      width: 100%;
      border-radius: 6px 6px 0 0;
      .item
        flex 1
        padding: 6px 10px !important;
        &:last-child
          text-align right
    footer
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 0 0 6px 6px;
      -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
    header > h1,
    footer > h1
      padding: .75em .45em;
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      -webkit-box-flex: 15;
      -moz-box-flex: 15;
      box-flex: 15;

    .text_ellipsis
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    .panel_body_container_2
      top 45px;
    .panel_body
      width: 100%;
      min-height: 100%;
      position: relative;
    .padding_20
      padding-right 30px
      padding-left 20px

  .nav_tab
    ul
      display -webkit-box
      box-orient horizontal
      li
        position: relative;
        overflow: hidden;
        flex: 1;
        height: 50px;
        border-right: 1px solid #222;
        border-left: 1px solid #555;
        color: #ccc;
        font-size: 14px;
        text-align: center;
        text-shadow: 0 -1px 0 #000;
        box-shadow: inset 0 0 10px transparent;
        cursor: pointer;
        &:first-child
          border-left: 0
        &:last-child
          border-right: 0
        &.selected
          background: #333;
          border-left-color: #222;
          color: #fff;
          text-shadow: 0 1px 0 #000;
          box-shadow: inset 0 0 10px #111
        a
          display: inline-block;
          overflow: hidden;
          height: 100%;
          position: relative;
          .icon
            display: inline-block;
            width: 34px;
            height: 34px;
            background-size: 100% 100%
          span
            display: block;
            position: relative;
            bottom: 2px;
            width: 100%;
            font-size: 12px;

        &.contact .icon {
          background-image: url(http://w.qq.com/css/image/tab_icon_conversation.png)
        }

        &.conversation .icon {
          background-image: url(http://w.qq.com/css/image/tab_icon_contact.png)
        }

        &.plugin .icon {
          background-image: url(http://w.qq.com/css/image/tab_icon_plugin.png)
        }

        &.setup .icon {
          background-image: url(http://w.qq.com/css/image/tab_icon_setup.png)
        }

        &.selected.contact .icon {
          background-image: url(http://w.qq.com/css/image/tab_icon_conversation_selected.png)
        }

        &.selected.conversation .icon {
          background-image: url(http://w.qq.com/css/image/tab_icon_contact_selected.png)
        }

        &.selected.plugin .icon {
          background-image: url(http://w.qq.com/css/image/tab_icon_plugin_selected.png)
        }

        &.selected.setup .icon {
          background-image: url(http://w.qq.com/css/image/tab_icon_setup_selected.png)
        }

  .member_tab
    tap-highlight-color: rgba(255, 255, 255, 0)
    .tab_head
      border: 0;
      background: #fff
      li
        display: inline-block;
        float: left;
        box-sizing: border-box;
        text-align: center;
        border: 0;
        border-bottom: 2px solid #ccc;
        width: 33.33%;
        padding: .65em 12px;
        background: 0;
        box-shadow: 10px 0 0 -9px #ccc;
        cursor: pointer
        &:last-child
          box-shadow none
        &.active
          border-bottom-color: #0aa7ff;
          color: #0aa7ff

  .member_tab_body
    position: absolute;
    bottom: 0;
    top: 39px;
    width: 100%;
    & > li
      display none
      height: 100%;
      &.active
        display block
    .list_group
      cursor: pointer
      &:first-child
        .list_group_title
          border-top: 0
      .list_group_body
        display none
      .list_arrow_right
        background: url(http://w.qq.com/css/image/open_arrow.png) no-repeat 12px;
        background-size: 14px 14px;
      &.active
        .list_group_body
          display block
        .list_arrow_right
          background-image: url(http://w.qq.com/css/image/open_arrow_fire.png);
    .list_group_title
      padding: .65em 28px .75em
    .list_group_white_title
      border-top 1px solid #cccccc
    .onlinePercent
      color: gray;
      font-size: 12px;
      float: right;
      line-height: 20px;
  .list_item
    position: relative;
    border-top: 1px solid #e3e3e3;
    padding: .15em 1px;
    line-height: 100%;
    cursor: pointer;
    background-color: whitesmoke;
    &:first-child
      border-top none
    &:after
      visibility: hidden;
      display: block;
      content: " ";
      clear: both;
    .avatar
      float: left;
      position: relative;
      width: 40px;
      height: 40px;
      margin: 8px !important;
    .member_nick
      padding: 6px 5px 0 5px;
      line-height: 23px;
      height: 22px;
      overflow: hidden;
      span
        color: #aaa;
        line-height: 17px;
        font-size: 12px;

    .member_msg
      overflow: hidden;
      font-size: 12px;
      color: #aaa;
      line-height: 28px;
      padding-left: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      .member_signature
        padding-right: 6px !important;

  .member_scroll_area
    overflow: hidden;
    bottom: 0;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background: gray;

  .plugin_list
    li
      cursor: pointer;
      position: relative;
      width: 93.33px;
      height: 93.33px
      float: left;
      background-color: #dadbe0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #e7e8eb), color-stop(50%, #dadbe0), color-stop(75%, #c7cbd2), color-stop(95%, #d3d6db), color-stop(100%, #d3d6dd));
      background-image: -webkit-linear-gradient(#e7e8eb, #dadbe0 50%, #c7cbd2 75%, #d3d6db 95%, #d3d6dd);
      background-image: -moz-linear-gradient(#e7e8eb, #dadbe0 50%, #c7cbd2 75%, #d3d6db 95%, #d3d6dd);
      background-image: -o-linear-gradient(#e7e8eb, #dadbe0 50%, #c7cbd2 75%, #d3d6db 95%, #d3d6dd);
      background-image: linear-gradient(#e7e8eb, #dadbe0 50%, #c7cbd2 75%, #d3d6db 95%, #d3d6dd);
      border: 1px solid #eceef2;
      border-bottom-color: #c1c7d2;
      border-right-color: #c1c7d2
      a
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 19px;
        line-height: 19px;
        font-size: 13px;
        text-align: center
        bottom: 6px
      .icon
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: no-repeat center 18%;
        background-size: 60%;
      &.qzone > .icon
        background-image: url(http://w.qq.com/css/image/plugin_icon_qzone.jpg)

      &.qmail > .icon
        background-image: url(http://w.qq.com/css/image/plugin_icon_qmail.jpg)

      &.qq_portal > .icon
        background-image: url(http://w.qq.com/css/image/plugin_icon_qq_portal.png)

      &.soso_map > .icon
        background-image: url(http://w.qq.com/css/image/plugin_icon_soso_map.jpg)

  .list_page
    .group
      padding: 10px;
      & > .row
        border-left: 1px solid #AFC8E2;
        border-right: 1px solid #AFC8E2;
        border-bottom: 1px solid #AFC8E2;
        padding: 10px;
        background: #fff
        &:first-child
          border-top: 1px solid #AFC8E2;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px
        &:last-child
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px
        .cloumn
          float: left
          .avatar
            position: relative;
            margin: 8px !important;
            width 40px
            height: 40px;
        .profile_title_setting
          padding-top: 5px;
          padding-left: 5px;
          width: 62%;
          float: left;
          .profile_name
            font-size: 1.4em;
            line-height: 1.4em;
          .text_ellipsis
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          .profile_account
            color: #666;
            font-size: .9em;
    .label
      color: #666;
      float: left;
      width: 80px;
    .more_icon
      float: right;
      width: 16px;
      height: 16px;
      background: url(http://w.qq.com/css/image/open_arrow.png) no-repeat center;
      background-size: 100% 100%;
      margin-left: 10px
    .active
      .more_icon
        background: url(http://w.qq.com/css/image/open_arrow_fire.png) no-repeat center !important;
        background-size: 100% 100% !important

    .profile_signature
      line-height: 22px;
      overflow: hidden;

  .list-content
    max-height: 100%
    overflow: hidden

  .loginout
    background: #f74634 !important;
    background: -moz-linear-gradient(top, #f74634, #ce2715) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#f74634), to(#ce2715)) !important;
    background: -webkit-linear-gradient(#f74634, #ce2715) !important;
    background: -ms-linear-gradient(#f74634, #ce2715) !important;
    background: -o-linear-gradient(#f74634, #ce2715) !important;
    background: linear-gradient(#f74634, #ce2715) !important;
    text-shadow: 0 0 10px #969696;
    color: #fff;
    text-align: center

  .clearfix:after
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;

  .search_wrapper
    position: relative;
    border-top: 1px solid #696969;
    border-bottom: 1px solid #a2a2a2;
    padding: 10px 6px;
    background: #ededed;
    background: -webkit-linear-gradient(top, #ededed, #d6d6d6);
    background: -webkit-linear-gradient(top, #ededed, #d6d6d6);
    background: -moz-linear-gradient(top, #ededed, #d6d6d6);
    background: -ms-linear-gradient(top, #ededed, #d6d6d6);
    background: -o-linear-gradient(top, #ededed, #d6d6d6);
    background: linear-gradient(top, #ededed, #d6d6d6)
    .search_inner
      position: relative;
      border: 1px solid #d0d0d0;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      border-radius: 18px;
      padding: 5px 32px 5px 20px;
      background: #fff;
      margin-right: 60px
      -webkit-box-shadow: 0 1px #ececec, inset 0 1px #a7a8a8, inset 1px 0 #a7a8a8, inset -1px 0 #a7a8a8;
      -moz-box-shadow: 0 1px #ececec, inset 0 1px #a7a8a8, inset 1px 0 #a7a8a8, inset -1px 0 #a7a8a8;
      box-shadow: 0 1px #ececec, inset 0 1px #a7a8a8, inset 1px 0 #a7a8a8, inset -1px 0 #a7a8a8

    .searchCancel
      position: absolute;
      height: 33px;
      width: 50px;
      top: 10px;
      right: 10px;
      display: block

    .searchClear
      display: block;
      position: absolute;
      top: 7px;
      right: 8px;
      border: 0;
      width: 20px;
      height: 20px;
      background: #bfbfbf url(http://w.qq.com/css/image/clear.png) center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px

    .searchInput
      border: 0;
      outline: 0;
      width: 100%;
      font-family: '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
      background: #fff

  .scrollWrapper
    position: absolute;
    overflow: hidden;
    bottom: 0;
    top: 55px
    left: 0;
    width: 100%
  .search_container_scroll_area
    background: #b9b9b9;

  .list_white
    li
      border-color: #ccc;
      background: #f1f1f1;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
      background: -webkit-linear-gradient(white, #f1f1f1);
      background: -moz-linear-gradient(white, #f1f1f1);
      background: -ms-linear-gradient(white, #f1f1f1);
      background: -o-linear-gradient(white, #f1f1f1);
      background: linear-gradient(#fff, #f1f1f1)
      &.selected
        border-color: #2373a5;
        background: #5393c5;
        background: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
        background: -webkit-linear-gradient(#5393c5, #6facd5);
        background: -moz-linear-gradient(#5393c5, #6facd5);
        background: -ms-linear-gradient(#5393c5, #6facd5);
        background: -o-linear-gradient(#5393c5, #6facd5);
        background: linear-gradient(#5393c5, #6facd5)

  .chat_container
    background: rgba(0, 0, 0, .5) !important;
    width: 100%;
    min-height: 100%

  .chat_toolbar_footer
    z-index: auto;
    background: 0
    .chat_toolbar
      width: 100%;
      padding: 3px 10px 5px 6px;
      border-radius 0 0 6px 6px;
      background-color: #333;
      color: #fff;
      display: flex;
      box-sizing: border-box;
      background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
      background: -webkit-linear-gradient(#555, #222);
      background: -moz-linear-gradient(#555, #222);
      background: -ms-linear-gradient(#555, #222);
      background: -o-linear-gradient(#555, #222);
      background: linear-gradient(#555, #222)

      .chat_textarea
        display: block;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 5px 10px;
        height: 32px;
        resize: none;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        margin: 5px 10px 5px 6px;
        max-height: 80px;
        overflow: hidden
        width: 100%;
        color: #333;
        background: #f9f9f9;
        box-sizing border-box
        font-family: '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        -webkit-user-modify: read-write-plaintext-only;

  .btn
    position: relative;
    font-size: 14px;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display inline-block
    line-height: 33px;
    padding: 0 10px;
    cursor: pointer;
    &.btn_black
      border: 1px solid;
      border-color: #2c2727 #2c2727 #1a1919;
      background: #333;
      background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
      background: -webkit-linear-gradient(top, #555, #222);
    &.btn_blue
      padding: 6px 10px !important;
      display: block !important;
      cursor: pointer !important;
      font-size: 14px;
      vertical-align: middle;
      position: relative;
      border: 1px solid #044062;
      box-sizing: border-box;
      color: #fff;
      border-radius: 5px;
      min-width: 56px;
      height: 42px;
      background: #396b9e;
      background: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5), to(#396b9e));
      background: -webkit-linear-gradient(top, #5f9cc5, #396b9e);
      background: -moz-linear-gradient(top, #5f9cc5, #396b9e);
      background: -ms-linear-gradient(top, #5f9cc5, #396b9e);
      background: -o-linear-gradient(top, #5f9cc5, #396b9e);
      background: linear-gradient(top, #5f9cc5, #396b9e);
      -webkit-text-shadow: 0 1px 1px #194b7e;
      -moz-text-shadow: 0 1px 1px #194b7e;
      text-shadow: 0 1px 1px #194b7e
      &.active
        background: #5393c5;
        background: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
        background: -webkit-linear-gradient(top, #5393c5, #6facd5);
        background: -moz-linear-gradient(top, #5393c5, #6facd5);
        background: -ms-linear-gradient(top, #5393c5, #6facd5);
        background: -o-linear-gradient(top, #5393c5, #6facd5);
        background: linear-gradient(top, #5393c5, #6facd5)
    .btn_img
      background-size: 100% 100% !important;
    &.btn_search
      .btn_img
        width: 14px;
        height: 14px;
        display: inline-block;
        margin: 0 4px
        background: url(http://w.qq.com/css/image/title_search_icon.png);
    &.btn_face
      border: 0;
      background: 0;
      width: 38px;
      padding: 5px;
      .btn_img
        width: 30px;
        height: 30px;
        display: block
        margin: 0 4px;
        background: url(http://w.qq.com/css/image/chat_bottombar_icon_face.png)

  .send_chat_btn
    width: 56px;


  .btn-test
    position absolute
    background-color #000000
    color #ffffff
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #0a0a0a;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.51);
