@import "~@/assets/stylus/kalix-color.styl"
.home
  height 100%
  background-color $background-color-6
  .container
    position: absolute
    top: 65px
    left: 0
    bottom: 0
    width: 100%
    .article
      overflow: auto
      position: relative
