@import "~@/assets/stylus/base.styl"
#ToolBar
  position fixed
  top 0
  left 0
  width 100%
  box-shadow 0 1px 3px 0px rgba(0, 0, 0, 0.3)
  z-index 9
  .bd
    height 65px
    .logo
      width 250px
      overflow hidden
      transition width .2s
      &.small
        width 65px
    .s-check__label
      display block
      cursor pointer
    .mn
      ul
        text-align left
        li
          display inline-block
          margin-left 20px
          cursor pointer
        &.menu
          li
            margin-top 16px
            .link-btn
              line-height 32px
              padding 0 12px
              &hover
                background-color #efefef
              &.router-link-active
                background-color rgb(225, 225, 225)
        &.aside
          margin-right 20px
          li
            margin-top 5px
            vertical-align top
            button
              margin-top 10px
          .el-dropdown-link
            align-items: center;
            margin-top: 8px;
            .avatar
              flex 1
              width 40px
              height 40px
              border-radius 50%
              background-color transparent
              margin-right 8px
              border 1px solid border-color_1
              box-sizing border-box
          .el-select
            margin-top 10px
