@import "~@/assets/stylus/base.styl"
@import "~@/assets/stylus/kalix-color.styl"
.toolBar
  position fixed
  top 0
  left 0
  width 100%
  z-index 9
  background-color $background-color-1
  .bd
    height 65px
    .logo
      width 250px
      overflow hidden
      transition width .2s
      &.small
        width 65px
    .s-check__label
      display block
      cursor pointer
    .mn
      ul
        text-align left
        li
          display inline-block
          margin-left 20px
          cursor pointer
        &.menu
          li
            margin-top 16px
            .link-btn
              line-height 32px
              padding 0 12px
              color: $header-text-color
              &hover
                background-color #efefef
              &.router-link-active
                color: $header-text-select-color
        &.aside
          margin-right 20px
          li
            margin-top 5px
            vertical-align top
            button
              margin-top 10px
          .el-dropdown-link
            align-items: center;
            margin-top: 12px;
            .avatar-wrapper
              flex 1
              line-height 36px
            .avatar
              float left
              display inline-block
              width 36px
              height 36px
              border-radius 50%
              background-color transparent
              margin-right 10px
              box-sizing border-box
            .user-name
              font-size 16px
              margin-right 7px
          .el-select
            margin-top 10px
            .el-icon-caret-bottom
              &.el-icon--right
                color #5d6266
