.login
  height 100%
  width 100%
  position fixed
  top 0
  left 0
  background 50% 50% url("./login_oa_bg.jpg") no-repeat
  background-size cover
  .from-warpper
    position fixed
    top 43%
    width 100%
    left 0;
    transform translate3d(0, -50%, 0)
  .form
    margin: 0 auto
    width: 380px
    .logo
      width: 100%
      height: 159px
      background-image: url("./login_oa_top.png")
    .loginForm
      position: relative;
      margin-left 0
      padding-top 32px

    .btn-submit
      display: block
      width: 100%


