.login
  .form
    margin: 0 auto
    width: 380px
    .logo
      width: 100%
      height: 159px
      margin-bottom: 30px
      background-image: url("./login_oa_top.png")

    .loginForm
      margin-left: -100px

    .btn-submit
      display: block
      width: 100%



