@import "./color.styl"
@import "./kalix-color.styl"
.kalix-wrapper
  margin 0px
  position absolute
  bottom 0px
  top 0px
  left 0px
  box-sizing border-box
  right 0px
  background-color $background-color-1
  .kalix-wrapper-hd
    background-color $plank-title-background-color
    color $plank-title-color
    line-height 44px
    padding 0 15px
    text-align left
  .kalix-wrapper-bd
    .kalix-navmenu-container
      position absolute
      margin-top 0px
      margin-bottom 0px
      margin-left 12px
      margin-right 0px
      overflow hidden
      bottom 54px
      right 0
      left 0
      top 101px
      text-align left
