@import "./color.styl"
.kalix-wrapper
  margin 5px
  border 1px solid border-color_1
  position absolute
  bottom 0
  top 118px
  left 0
  box-sizing border-box
  right 0
  .kalix-wrapper-hd
    background-color bg-color_1
    border-bottom 1px solid border-color_1
    color #FFFFFF
    line-height 44px
    padding 0 15px
    text-align left
  .kalix-wrapper-bd
    .kalix-table-container
      position absolute
      margin 0 12px
      overflow hidden
      bottom 48px
      right 0
      left 0
      top 104px
      text-align left
    .kalix-table-pagination
      text-align left
      padding 8px 0
      position absolute
      bottom 0
      width 100%
      .btn-wrapper
        padding 2px 20px
    .no-list
      position absolute
      left 0
      top 0
      z-index 9
      box-sizing border-box
      border 1px solid #dfe6ec
      height 100%
      width 100%
      color #5e7382
      font-size 14px
      text-align center
      background-color #fff
      display flex
      box-pack center
      justify-content center
      box-align center
      flex-align center
      align-items center


