@import "./color.styl"
@import "./kalix-color.styl"
.kalix-wrapper
  margin 0px
  position absolute
  bottom 20px
  top 142px
  left 20px
  box-sizing border-box
  right 20px
  background-color $background-color-1
  .kalix-wrapper-hd
    background-color $plank-title-background-color
    color $plank-title-color
    line-height 44px
    padding 0 15px
    text-align left
  .kalix-wrapper-bd
    .kalix-chart-container
      position absolute
      margin 0 12px
      overflow hidden
      bottom 54px
      right 0
      left 0
      top 101px
      text-align left
