macAvatarStyle(ratio)
  width ($macAvatarW * (ratio / 100%)) + $macAvatarW
  height ($macAvatarH * (ratio / 100%)) + $macAvatarH
  font-size ($macAvatarFontSize * (ratio / 100%)) + $macAvatarFontSize

text_ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
