macAvatarStyle(ratio)
  width ($macAvatarW * (ratio / 100%)) + $macAvatarW
  height ($macAvatarW * (ratio / 100%)) + $macAvatarW
  line-height ($macAvatarW * (ratio / 100%)) + $macAvatarW
  font-size ($macAvatarFontSize * (ratio / 100%)) + $macAvatarFontSize

text_ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
